*{
    font-family: 'Oswald';
    font-weight: 300;
    font-style: normal;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 0px;
    background-color: black;
    height: 50px;
    position: sticky;
    top: 0;
    overflow: hidden;
    transition: background-color 0.3s ease;
    z-index:20;
}

.navtext ul{
    text-decoration: none;
}

.navtext ul li{
    list-style-type: none;
    display: inline;
    margin: 10px;
    color: white;
}

.navtext ul li a{
    color: white;
    text-decoration: none;
}

@media(max-width:768px){
    .navtext{
        display: none;
    }
}